@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #7B5444;        /* el color de la zona de seguimiento */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: azure;    /* el color de la barra de desplazamiento */
    border-radius: 20px;    /* la redondez de la barra de desplazamiento */
    border: 4px solid #7B5444
  }




body {
    background-image: url(../img/happa45.png); 
    background-position: center;
    background-attachment: scroll;
    background-size: 80%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;   /* centra todo el bloque en la página */
  align-items: stretch;      /* sidebar y sheet tendrán la misma altura */
  max-width: 1200px;         /* ancho máximo del bloque principal */
  margin: 50px auto;         /* centrado horizontal */
  gap: 20px;                 /* espacio entre sidebar y sheet */
}

.sidebar {
  width: 150px;
  background-color: rgba(48, 104, 119, 0.5);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 70px 20px;
  gap: 30px;
  border-radius: 8px;
  align-items: center
}

.sheet {
  flex: 1;
  background: #377035;
  color: #FDF9F8;
  padding: 20px;
  border-radius: 8px;
}

hr {
    border: 1px solid #306877;
    width: 5%;
    height: 100px;
}

h1, h2, p {
    margin: 0;
}


img {
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    margin-bottom: 30px;
}

.log__button {
    display: flex;
    align-items: right;
    border: 1px solid rgba(14, 165, 233, 1);
    background: white;
    border-radius: 10px;
    color: #0ea5e9;
    padding: 15px 10px;
    font: inherit;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;
}

.log__button:hover {
    background: rgba(14, 165, 233, 1);
    color: white;
    border: 1px solid white
}


.main-list {
    display: flex;
    align-items: center;
    gap: 20px;
}


.main__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.cards-list {
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    column-gap: 50px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    transition: 0.2s;
    background: sienna;
    border-radius: 20px;
}

.card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
}

.card__text {
    border-top: 1px solid #CE7B63;
    width: inherit;
    display: flex;
    padding: 50px 0 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card__title {
    padding: 0 20px;
    text-align: center;
}
.card__subtitle {
    padding: 0 20px;
    text-align: center;

}

.card__img {
    padding: 30px;
}

.creat__link {
    display: block;
    width: inherit;
    height: inherit;
    background: url(../img/plus.svg) no-repeat;
    background-size: 200px 200px;
    background-position: center;
}

.card--creat:hover,
.card:hover {
    box-shadow: 0px 4px 10px cornsilk;
}

.creat-form {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form__card {
    width: 40%;
    padding: 0 20px 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    box-shadow: 0px 4px 10px #FDF9F8;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form__inputs label {
    width: 80%;
}

.form__input {
    background: #7B5444;
    border-radius: 10px;
    padding: 10px;
    height: 30px;
    color: #F8FAFC;
    font: inherit;
    border: none;
    width: 94%;
}

.form__card label {
    width: 80%;
}

.form__text {
    background: #7B5444;
    border-radius: 10px;
    padding: 10px;
    color: #F8FAFC;
    font: inherit;
    border: none;
    width: 94%;
}

.form__button {
    border: 1px solid #FDF9F8;
    background: #BAB4AE;
    border-radius: 10px;
    color: #7B5444;
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.form__button:hover {
    color: #F8FAFC;
    background: #CE7B63;
}

.main {
    padding: 0 5%;
}

.main__block {
    background: sienna;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
}

.main__subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.main__text {
    line-height: 30px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    align-self: flex-start;
}

.main__return {
    border: 1px solid #FDF9F8;
    background: #BAB4AE;
    border-radius: 10px;
    color: #7B5444;
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.main__return:hover {
    color: #F8FAFC;
    background: #CE7B63;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 30%;
    padding: 50px 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.login label {
    width: 60%;
}


.reg__link {
    height: fit-content;
    text-align: center;
    padding: 15px 0px;
}

.error {
    font-size: 10px;
    color: #fff;
}

.login__link:hover {
    color: rgba(14, 165, 233, 1);
}
