<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Error 404 - página no encontrada</title>
</head>
<body>
  <header class="header">
    <img src="../static/img/logo.svg" alt="logo" width="30" height="30">
    <ul class="main-list">
        <li class="list__item">
          <a href="">
            <img src="../static/img/login.svg" alt="login" width="20" height="20">
          </a>
    </ul>
  </header>
  <main class="main">
    {% block content %}
    <body>
        <h1 class="main__title">Error 404</h1>
        <h1>Oops, parece que no hay nada...</h1>
        <hr>
        <p>La página que busca, <strong>" {{ url }} "</strong>, no existe. Podría ser que escribió mal, o el enlace está roto.</p>
    </body>
    <hr>
    <div class="main__block">
      <a class="main__link" href="/">Volver a la página de inicio</a>
    </div>
  {% endblock %}
  <footer>

  </footer>
</body>
</html>