<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Blog Climático - Mi Contenido</title>
</head>
<body>
  <div class="wrapper">
    <div class="sheet">
    <header class="header">
      <a href="/"><img src="../static/img/logo.svg" alt="logo" width="60" height="60"></a>
      <ul class="main-list">
          <li class="list__item">
              <a href="/"><img src="../static/img/logo.svg" alt="logo" width="60" height="60"></a>
          </li>
      </ul>
    </header>
    <main>
      {% block content %}
      <h1 class="main__title">🧑 Mi Cuenta y Contenido 🫶</h1>
      <!-- Información de Cuenta -->
      <h1 class="main__title">{{ user.login }} ({{ conteo }} Entradas)</h1>
      <!-- Mostrar entradas -->
      <h1 class="main__minor-title">📚 Lista de Entradas</h1>
      <ul class="cards-list">
        {% for entrada in entradas %}
        <li class="card">
          <a class="card__link" href="/card/{{entrada.id}}">
            <img class="card__img" src="../static/img/post_icon.png" width="200" height="200" alt="post_icon">
            <div class="card__text">
              <strong><h2 class="card__title">{{ entrada.title }}</h2></strong>
              <p class="card__subtitle">-{{ entrada.autor.login }}</p>
            </div>
          </a>
        </li>
        {% endfor %}
        </ul>
      {% endblock %}
    </main>
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>
